
        <!-- FOOTER START -->
        <footer class="site-footer footer-large  footer-light	footer-wide text-black">
            <!-- FOOTER BLOCKES START -->  
            <div class="footer-top overlay-wraper">
                <div class="overlay-main"></div>
                <div class="container">
                    <div class="row">

                        <!-- NEWSLETTER -->

                    </div>
                    <div class="m-b10">
                        <div class="wt-divider bg-gray-dark"><i class="icon-dot c-square"></i></div>
                    </div>
                    <div class="news-letter-footer">
                        <div class="row">
                        	<div class="col-lg-6 col-md-6">
                            	<div class="newsletter-f-left">
                                    <h4 class="text-uppercase m-t0 m-b10">Subscribe to our newsletter!</h4>
                                    <p>Never Miss Anything From Construx By Signing Up To Our Newsletter. </p>
                                </div>
                            </div>    
                            <div class="col-lg-6 col-md-6">
                                <div class="newsletter-f-right text-center">
                                    <form role="search" method="post">
                                        <div class="input-group">
                                            <input name="news-letter" class="form-control" placeholder="ENTER YOUR EMAIL" type="text">
                                            <span class="input-group-btn">
                                                <button type="submit" class="site-button site-btn-effect"><span>Submit</span></button>
                                            </span>
                                        </div>
                                        
                                     </form>
                                </div>
                            </div>
                        </div>                           
                    </div>
                </div>
            </div>
            <!-- FOOTER COPYRIGHT -->
            <div class="footer-bottom overlay-wraper">
                <div class="overlay-main"></div>
                <div class="container">
                    <div class="row">
                        <div class="wt-footer-bot-center">
                            <span class="copyrights-text">Copyright © 2024 zakib service SARL. Tous droits réservés</span>
                            <ul class="social-icons f-social-link">
                                <li><a href="javascript:void(0);" class="fa fa-google"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                            </ul>     
                        </div>
                       
                    </div>
                </div>
            </div>
        </footer>
        <!-- FOOTER END -->
        